
.toolbar-content {
    display: flex;
    justify-content: space-between;
}

.content {
    .product-card {
        box-shadow:  0px 2px 1px -1px rgba(0, 0, 0, 0.8), 0px 1px 1px 0px rgba(0, 0, 0, 0.5), 0px 1px 3px 0px rgba(0, 0, 0, 0.7) !important;
    }
}

.content-placeholder {
    width: 100%;
    height: calc(100vh - 212px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#landing-toolbar  {
    @extend .toolbar-content;
}


#landing-sub-toolbar {
    @extend .toolbar-content;
    height: fit-content;
    span:first-child {
        padding-top: 20px;
    }
    span:nth-child(2){
        align-items: center;
        font-size: 20px;
    }
    button {
        margin-left: 20px;
    }
}

.content {
    padding: 20px;
}

img.fallback {
    background-image: url('https://rukminim2.flixcart.com/image/416/416/xif0q/computer/n/o/s/-original-imaghzah9mjvukjz.jpeg');
    background-size: contain;
    height: 250px;
}

#card-actions {
    padding-left: 16px !important;
}
