@import './../../styles.scss';

#login-title {
    padding: 16px;
}

.login-card {
    width: 30%;
    min-width: 300px;
    margin: auto;
}

#login-toolbar {
    display: flex;
    justify-content: space-between;
}