<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="productForm"  (ngSubmit)="submit()">
    <mat-form-field>
      <mat-label>id</mat-label>
      <input type="text" matInput placeholder="id" formControlName="id" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>name</mat-label>
      <input type="text" matInput placeholder="product name" formControlName="name" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>description</mat-label>
      <input type="text" matInput placeholder="description" formControlName="description" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>price</mat-label>
      <input type="number" matInput placeholder="Enter price: price <= 100000" formControlName="price" required>
    </mat-form-field>
    <div id="image-upload-field">
      <mat-label>
        <input type="file" accept="image/*" (change)="setFile($event)"/>
      </mat-label>
      @if(imageUploading === uploadStatus.UPLOADING) {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      } @else if (imageUploading === uploadStatus.FAILED) {
        <mat-error>{{ imageUploadedMessage }}</mat-error>
      }
    </div>
    <mat-form-field>
      <mat-label>File URL</mat-label>
      <input type="text" matInput placeholder="Uploaded image URL" formControlName="fileUrl" required>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions" align="end">
  @if(showError) {
    <mat-error>{{ errorMsg }}</mat-error>
  }
  <button mat-raised-button mat-dialog-close>Close</button>
  @if(data.product) {
    <button mat-raised-button type="submit" (click)="submit()" cdkFocusInitial>Update</button>
  } @else {
    <button mat-raised-button type="submit" (click)="submit()" cdkFocusInitial>Add</button>
  }
</mat-dialog-actions>