@import '../../styles.scss';


#register-title {
    padding: 16px;
}

.register-card {
    width: 30%;
    min-width: 300px;
    margin: auto;
}

#register-toolbar {
    display: flex;
    justify-content: space-between;
}